### Capstone Project Toronto

Iulian Costache

### Segmenting and Clustering Neighborhoods in Toronto  PART 1

### Importing some necessary libraries

In [3]:
from bs4 import BeautifulSoup as bsoup
from urllib.request import urlopen as uReq
import requests
import pandas as pd
from pandas import DataFrame
import numpy as np

### Converting Wikipedia html table into a DataFrame

In [4]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
r=requests.get(url)

### Parsing the web html file with BeautifulSoup package

In [8]:
# Parse the htlm with Soup
page=bsoup(r.text,"html.parser")

### Find that table in the html page

In [26]:
rtable=page.table

In [31]:
results=rtable.find_all('tr') 
nrows=len(results)
nrows

181

### Now we will create a DataFrame

In [50]:
# iteration loop to harvest all records

records =[]
n=1
while n < nrows :
    Postcode=results[n].text.split('\n')[1]
    Borough=results[n].text.split('\n')[3]
    Neighborhood=results[n].text.split('\n')[5]
    records.append((Postcode, Borough, Neighborhood))
    n=n+1

df=pd.DataFrame(records, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df

,PostalCode,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

### Remove all rows with Borough and = 'Not assigned'

In [55]:

df1=df[~df.Borough.str.contains("Not assigned")]
df1=df1.reset_index(drop=True)

In [56]:
df1.head()

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [57]:
df1.shape

(103, 3)

### Replacing 'Not assigned' neighborhoods with the name of the Borough

In [59]:
df1.loc[df1['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df1['Borough']

In [60]:
df1.head()

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [61]:
df1.shape

(103, 3)

### FINAL DATAFRAME

### Loop Algorithm to extract unique postalcodes.

In [64]:
# I will use two pointers, 'n and m' to sweep through the dataframe. So 'n' will vary from
#  0 to 211, and 'm ' will vary from 1 to 212
nrows2=len(df1)-1
nrows2

102

In [66]:
n=0

while n < nrows2 :
    post1=df1.iloc[n,0]
    #post1
    m=n+1
    post2=df1.iloc[m,0]
    #post2
    neigh1=df1.iloc[n,2]
    neigh2=df1.iloc[m,2]
    if post1==post2:
        df1.Neighbourhood[n,2] = neigh1=neigh1+','+neigh2
        #df1 = df1[df1.Neighbourhood != 'neigh2']
        df1=df1.drop(df1.index[m])
        nrows1=nrows1-1
        df1 = df1.reset_index(drop=True)
    else:
        n=n+1


#df1 = df1.reset_index(drop=True)
# print(post1, post2, 'Nigh1 is...'+ neigh1,',,,,,,,','Nigh2 is...' + neigh2, n,m)
df1.index

RangeIndex(start=0, stop=103, step=1)

In [78]:
# create a new test dataframe
column_names = ["PostalCode", "Borough",]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(df1[df1["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighbourhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill, Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford, Maryvale"
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
10,M1B,Scarborough,"Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront"

In [79]:
df.shape

(180, 3)